<div class="container">
    <div class="post-image">
        <img src="../assets/images/illustration-article.svg" alt="Article illustration" />
    </div>
    <div class="tags">
        <ul>
            <li class="tag" *ngFor="let post of postTags">{{ post }}</li>
        </ul>
    </div>
    <div class="title-container">
        <div class="published">
            <p>Published {{ date | date:'d MMM y' }}</p>
        </div>
        <h1 class="title">{{ title }}</h1>
        <h2 class="abstract">{{ abstract }}</h2>
        <div class="author">
            <img src="../../assets/images/image-avatar.webp" alt="Author's avatar" />
            <p>{{ name }}</p>
        </div>
    </div>
</div>